name: Sync labels

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - ".github/labels.yml"

jobs:
  sync-labels:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v4
      - name: Sync
        uses: micnncim/action-label-syncer@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
